@{
    ViewData["Title"] = "Задача 1";
}

<div class="text-center">
	<h3>ЗАДАНИЕ 1</h3>
</div>
	
<p>
	Пользователь вводит целое число N и целое число M. Выяснить,
	кратно ли N числу М.
</p>

<form method="post">
<label>Number N</label><br />
<input type="text" name="n" /><br />
<label>Number M</label><br />
<input type="text" name="m"/><br /><br />
<input type="submit" value="Check" />
</form>


